.countContainer{
    display: flex;
    justify-content: center;
    height: 1.5em;
   
}

.countContainerContador{
    display: flex;
    justify-content: center;
    border: solid 1px;
    width: 4em;
    background-color: white;
    border-radius: 5%;

}
.countContainerCantidad{
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    width: 2em;
    
}
